<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673487227172-jv3m3v0i0nsq2gvem5jghbvjp1vrjfku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673487227172-jv3m3v0i0nsq2gvem5jghbvjp1vrjfku</string>
	<key>API_KEY</key>
	<string>AIzaSyAphJUmQeIbRY2DLIKichL9Z5S3S4p9lOA</string>
	<key>GCM_SENDER_ID</key>
	<string>673487227172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>magicCorp.Outlay</string>
	<key>PROJECT_ID</key>
	<string>outlay-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>outlay-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673487227172:ios:1cc98ddda9139962a54bb1</string>
</dict>
</plist>